extends ../layoutemp

block content
    .container(style="margin-top:2%;")
        h1 병실 현황
        .alert.alert-primary
            nav.nav
                a.nav-link.active(href='/patientmanagement/bed/1') 안과 병실
                |   
                a.nav-link.active(href='/patientmanagement/bed/2') 내과 병실
                |   
                a.nav-link.active(href='/patientmanagement/bed/3') 외과 병실
                |   
                a.nav-link.active(href='/patientmanagement/bed/4') 치과 병실
                |
                a.nav-link(href='/patientmanagement/outpatient') 퇴원 환자
                |   

        include ./_bed
        
        hr
        h4  사용중인 침대 정보
            
        table.table.usedbedtable
            thead
                tr
                    th(scope="col") 과
                    th(scope="col") 침대번호
                    th(scope="col") 환자이름 
                    th(scope="col") 담당의사 
                    th(scope="col") 출생년도 
                    th(scope="col") 질병
                    th(scope="col") 입원일
                    th(scope="col") 입원 정보
                    th(scope="col") 정보 추가
            tbody
                each patient in patientList
                    tr
                        th #{number}

                        td #{patient.bed_no}
                        td    
                            a(href=`/patientmanagement/show/${patient.patient_id}`) #{patient.patient_name} 
                        td #{patient.employee_name} 
                        td #{patient.personal_number}   
                        td #{patient.disease_name}
                        td #{moment(patient.hospital_day).format('YYYY-MM-DD')}
                        td 
                            a(href=`/patientmanagement/inpatientdetail/${patient.patient_id}`) 상세정보
                        td 
                            .btn.btn-dark(style="text-align:center;")
                                a(href=`/patientmanagement/inpatientdetail/new/${patient.patient_id}`) +
    
