extends ../layoutemp

block content
    .container
        nav.navbar.navbar-expand-lg.navbar-light.bg-primary(style="margin-top:0.5%; margin-bottom:2%;")
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item(style="margin-top:1%;")
                        a.nav-link(href='/patientmanagement/bed/1') 
                            h5(style="color:white;") 안과병실
                    li.nav-item(style="margin-top:1%;")
                        a.nav-link(href='/patientmanagement/bed/2') 
                            h5(style="color:white;") 내과병실
                    li.nav-item(style="margin-top:1%;")
                        a.nav-link(href='/patientmanagement/bed/3') 
                            h5(style="color:white;") 외과병실
                    li.nav-item(style="margin-top:1%;")
                        a.nav-link(href='/patientmanagement/bed/4') 
                            h5(style="color:white;") 치과병실
                ul.navbar-nav.mr-right
                    li.nav-item(style="margin-top:1%;")
                        a.nav-link(href='/patientmanagement/outpatient') 
                            h5(style="color:white;") 퇴원기록보기
        .row(style="margin-bottom:2%;")
            .col-md-1
                img.rounded-0(src='/images/inpatient.png', alt='...', style="width:70px;")
            .col-md-4(style="margin-top:1%;")
                h1 #{number} 병실 현황   

        include ./_bed
        
        hr
        h4  사용중인 침대 정보
            
        table.table.usedbedtable
            thead
                tr
                    th(scope="col") 과
                    th(scope="col") 침대번호
                    th(scope="col") 환자이름 
                    th(scope="col") 담당의사 
                    th(scope="col") 출생년도 
                    th(scope="col") 질병
                    th(scope="col") 입원일
                    th(scope="col") 입원 정보
                    th(scope="col") 정보 추가
                    th(scope="col") 퇴원
            tbody
                each patient in patientList
                    tr
                        th #{number}

                        td #{patient.bed_no}
                        td    
                            a(href=`/patientmanagement/show/${patient.patient_id}`) #{patient.patient_name} 
                        td #{patient.employee_name} 
                        td #{patient.personal_number}   
                        td #{patient.disease_name}
                        td #{moment(patient.hospital_day).format('YYYY-MM-DD')}
                        td 
                            a(href=`/patientmanagement/inpatientdetail/${patient.patient_id}`) 상세정보
                        td 
                            .btn.btn-dark(style="text-align:center;")
                                img.rounded-0(src='/images/medicine.png', alt='...', style="width:20px;")
                                a(href=`/patientmanagement/inpatientdetail/new/${patient.patient_id}`) +
                        td  
                            .btn.btn-light(style="text-align:center;")
                                a(href=`/patientmanagement/inpatient/${patient.patient_id}?_method=DELETE`) 퇴원
                            
    
