extends ../layoutemp

block content
    nav.navbar.navbar-expand-lg.bg-rose(style="margin-top:1%;")
        .container                          
            form.form-inline.ml-auto(action="/patientmanagement", method="GET")
                .form-group.has-white
                    input.form-control(type='text', placeholder='이름으로 검색', name='name')
                    |                 
                button.btn.btn-white.btn-raised.btn-fab.btn-fab-mini.btn-round(type='submit')
                    i.material-icons search
    .container
        .row(style="margin-bottom:2%;")
            .col-md-12.col-sm-12
                .card.card-stats
                    .card-header.card-header-warning.card-header-icon
                        p.card-category 조회된 환자수
                        h3.card-title
                            #{count_patient}
                            small 명
                    .card-footer
                        .row
                            .stats(style="text-align:center")
                                .btn.btn-light
                                    a(href='/patientmanagement/new') 환자 추가
                            .stats(style="text-align:center")
                                .btn.btn-light
                                    a(href='/monitor') 환자 모니터링
        .alert.alert-primary
            .row
                .col-md-12
                    each patient in patients
                        .alert.alert-success(role='alert', style="margin-bottom:10px; text-align: center;")
                            .row
                                .col-md-3
                                    .alert.alert-warning(role='alert')
                                        | 환자 이름 :
                                        #{patient.name}
                                .col-md-3(style="margin-top:20px;")
                                    | 주민번호  :
                                    #{patient.personal_number}
                                .col-md-3(style="margin-top:20px;")
                                    | 핸드폰번호 :
                                    #{patient.phone_number}
                                .col-md-3(style="margin-top:20px;")
                                    .btn.btn-light
                                        a(href=`/patientmanagement/show/${patient.personal_number}`) 상세보기
                                    .btn.btn-light(style="margin-left:4%;")
                                        a(href=`/patientmanagement/inpatient/${patient.personal_number}`) 입원
                                    .btn.btn-light(style="margin-left:1%;")
                                        a(href=`/patientmanagement/inpatient/${patient.patient_id}?_method=DELETE`) 퇴원
                        hr
