extends ../layoutemp

block content
    .container
        .row(style="margin-top:2%; margin-bottom:2%;")
            .col-md-1
                img.rounded-0(src='/images/inpatient2.png', alt='...', style="width:70px;")
            .col-md-3(style="margin-top:1%;")
                h1(style="margin-top:2%;") 퇴원 기록
        table.table.usedbedtable
            thead
                tr
                    th(scope="col") 부서
                    th(scope="col") 환자이름 
                    th(scope="col") 출생년도 
                    th(scope="col") 담당의사 
                    th(scope="col") 질병
                    th(scope="col") 입원일
                    th(scope="col") 퇴원일
            tbody
                if recordList
                    each record in recordList
                        tr
                            th #{record.department_name}
                            td 
                                a(href=`/patientmanagement/show/${record.patient_id}`) #{record.name} 
                            td #{record.personal_number} 
                            td #{record.doctor_name} 
                            td #{record.disease_name} 
                            td #{moment(record.hospital_day).format('YYYY-MM-DD')} 
                            td #{moment(record.discharge_day).format('YYYY-MM-DD')} 
        
        .btn.btn-primary(onclick="history.back(-1);") 돌아가기