extends ../includes/layoutemp

block content
    .container(style="margin-top:3%;")
        h1 환자 정보
        .alert.alert-primary
            .row
                .col-md-12
                    | 환자 이름:
                    #{patient.name}
            br
            .row
                .com-md-12(style="margin-left:1.5%;")
                    | 주민 번호:
                    #{patient.personal_number}
            br
            .row
                .col-md-12
                    | 핸드폰 번호:
                    #{patient.phone_number}   
            br
            .row
                .col-md-12
                    | 성별:
                    if !patient.gender
                        | 남성
                    else
                        | 여성    
        hr
            
        include ./_record

        hr
        .row
            .col-md-1
                a.button.btn.btn-primary(href=`/patientmanagement/edit/${patient.patient_id}`)
                    | 정보 수정
            .col-md-8
                a.btn.btn-danger(href=`/patientmanagement/${patient.patient_id}?_method=DELETE`)
                    | 정보 삭제
            .col-md-3
                a.btn.btn-success(href=`/patientmanagement/inpatientdetail/${patient.patient_id}`)
                    | 입원 정보 확인
        hr
        .btn.btn-primary(onclick="history.back(-1);") 돌아가기


            

