extends ../includes/layoutemp

block content
    .container(style="margin-top:3%;")
        .row(style="margin-bottom:2%;")
            .col-md-1
                img.rounded-0(src='/images/diagn.png', alt='...', style="width:70px;")
            .col-md-3(style="margin-top:1%;")
                h1 환자 정보
        .alert.alert-info
            .row
                .col-md-2
                    if !patient.gender
                        img.rounded-0(src='/images/patientman.png', alt='...', style="width:170px;")           
                    else
                        img.rounded-0(src='/images/patientwoman.png', alt='...', style="width:170px;")                    
                .col-md-9(style="margin-top:1.5%;")             
                    table.table(style="margin-left:2%; margin-top:2%; text-align:center;")
                        tbody
                            tr
                                td 환자 이름
                                td 주민 번호
                                td 핸드폰 번호
                                td 성별
                            tr.success
                                td #{patient.name}
                                td #{patient.personal_number}
                                td #{patient.phone_number}   
                                td 
                                    if !patient.gender
                                        | 남성
                                    else
                                        | 여성 
        hr
        form(action=`/patientmanagement/send/${patient.patient_id}`, method="POST")
            .row
                .col-md-1
                    img.rounded-0(src='/images/sms.png', alt='...', style="width:70px;")
                .col-md-2(style="margin-top:2%; margin-right:-3%;")
                    h4 문자메시지
                .col-md-9(style="margin-top:2%;")
                    .input-group.mb-3
                        input.form-control(type='text', placeholder="보낼 내용 입력", name='textSMS' ,aria-describedby='basic-addon2')
                        .input-group-append
                            button.btn.btn-outline-primary(type='submit') 메시지 전송
        hr
        .row
            a.button.btn.btn-primary(href=`/patientmanagement/edit/${patient.patient_id}`, style="margin-left:1.5%; margin-right:1%;")
                | 정보 수정
            a.btn.btn-danger(href=`/patientmanagement/${patient.patient_id}?_method=DELETE`, style="margin-right:1%;")
                | 정보 삭제
            a.btn.btn-success(href=`/patientmanagement/inpatientdetail/${patient.patient_id}`)
                | 입원 정보 확인
        hr
        include ./_record

        hr
        .btn.btn-primary(onclick="history.back(-1);") 돌아가기

    script.
        function sendSMS() {
            $("#sensSMS").show();
        }


            

