.container
    .row
        .col-md-8
            .card.card-header.card-header-primary
                h4.card-title Edit Profile
                .card.body
                   
                    .row
                        .col-md-5
                            .form-group.bmd-form-group 이름
                                .bmd-label-floating
                                input.form-control(type=text, placeholder='name', name='name', value = `${emp.name}`)
                    .row
                        .col-md-5
                            .form-group.bmd-form-group 주민번호
                                .bmd-label-floating
                                input.form-control(type=text, placeholder='personal_number', name='personal_number', value = `${emp.personal_number}`)
                    .row
                        .col-md-5
                            .form-group.bmd-form-group 전화번호
                                .bmd-label-floating
                                input.form-control(type=text, placeholder='-없이 입력 (예:01012345678)', name='phone_number', value = `${emp.phone_number}`)
                    .row
                        .col-md-5
                            .form-check
                                    input(type='radio', name='gender',value='option1', checked='')
                                    label.form-check-label(for='male')
                                        | 남성
                            .form-check
                                    input(type='radio', name='gender',value='option2')
                                    label.form-check-label(for='female')
                                        | 여성
                    .row
                        .col-md-5
                            .form-group.bmd-form-group 직급
                                .bmd-label-floating
                                input.form-control(type=text, placeholder='position', name='position', value = `${emp.position}`)
