doctype html
html
  head
    title title

    link(rel='stylesheet' href='/assets/css/material-dashboard.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
    link(rel='stylesheet' type='text/css' href= 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

body
  include ../includes/topnavemp

  nav.navbar.navbar-expand-lg.white(style="margin-top:70px;")
    .container
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/superadmin/list') 유저 목록
          |
        li.nav-item
          a.nav-link(href='/superadmin/edit') 유저정보 수정
      form.form-inline.ml-auto
        .form-group.has-white
          input.form-control(type='text', placeholder='search')
          |
        button.btn.btn-white.btn-raised.btn-fab.btn-fab-mini.btn-round(type='submit')
          i.material-icons search
    
  .container
    .row
      .col-md-6.col-sm-6
        .card.card-stats
          .card-header.card-header-danger.card-header-icon
            .card-icon
              i.material-icons store
            p.card-category 수정 가능한 유저
            h3.card-title
              | 1
          .card-footer
            .stats
              i.material-icons warning
              a(href='/superadmin/edit') 정보 수정

    .row
        .col-lg-12.col-md-20
            each emp in employee
                .card.card-stats
                    .card-header.card-header-success
                        h4.card-title
                        | 유저 목록표
                        p.card-category not have any new employee yet
                    .card-body.table-responsive
                        table.table.table-hover
                            thead.text-success
                                tr
                                    th.text-center id
                                    th 이름 
                                    th 식별번호 
                                    th 전화번호 
                                    th 성별(남:1, 여:2)
                                    th 직급 
                                    th 비밀번호
                                    th 수정
                                tr
                                    td #{emp.employee_id}
                                    td #{emp.name}
                                    td #{emp.personal_number}
                                    td #{emp.phone_number}
                                    td #{emp.gender}
                                    td #{emp.position}
                                    td #{emp.employee_password}
                                    td.td-actions
                                        button.btn.btn-info(type='button' rel='tooltip' onclick="location.href='/superadmin/edit'")
                                            i.material-icons edit
