extends ../layoutemp

block content
    .container(style="margin-top:2%;")
        h1 수술실 현황

        include ./oproom
        hr
        h2 예약 현황
        table.table.surgerytable
            thead
                tr
                    th(scope="col") 접수번호
                    th(scope="col") 환자 id
                    th(scope="col") 의사 id 
                    th(scope="col") 수술 예정일시
                    th(scope="col") 수술 완료 예정일시
                    th(scope="col") 수술실
                    th(scope="col") 비고

            tbody
                each surgery in surgeryList
                    tr
                        td #{surgery.surgery_schedule_id} 
                        td #{surgery.patient_id}
                        td #{surgery.doctor_id}
                        td #{moment(surgery.reserved_datetime).format('YYYY-MM-DD hh:mm:ss a')}
                        td #{moment(surgery.end_datetime).format('YYYY-MM-DD hh:mm:ss a')}
                        td #{oproomList.operating_room_id}
                        td #{surgery.description}
        br
        .row
            .col-md-6.col-sm-6
                button.btn.btn-primary(type='button', onclick="location.href='/surgery/new'") 예약 추가
