extends ../layoutemp

block content
    .container(style="margin-top:2%;")
        h1 수술실 현황
        hr
        .row(style="margin-bottom:1%;")
            .col-md-1
                img.rounded-0(src='/images/surgery.png', alt='...', style="width:70px;")
            .col-md-10(style="margin-top:1%;")
                h2 수술 예약 현황
        hr
        .row(style="margin-bottom:1%;")
            each val in [0, 1, 2, 3]
                .col-md-3
                    .card(style='width: 18rem;')
                        img.rounded-0(src='/images/surgery2.png', alt='Card Image Cap', style="width:150px;")

                    .card_body
                        h5.card-title #{val + 1}번 수술실
                        p.card-text
                            if(oproomList[val]===1)
                                | 예약중
                            else
                                | 예약 가능
        table.table.surgerytable(style="text-align:center;")
            thead
                tr
                    th(scope="col") 접수번호
                    th(scope="col") 환자 이름
                    th(scope="col") 의사 이름
                    th(scope="col") 수술 예정일시
                    th(scope="col") 수술 완료 예정일시
                    th(scope="col") 수술 사유

            tbody
                each surgery in surgeryList
                    tr
                        td #{surgery.surgery_schedule_id} 
                        td
                            a(href=`/patientmanagement/show/${surgery.patient_id}`) #{surgery.patient_name}
                        td #{surgery.doctor_name}
                        td #{moment(surgery.reserved_datetime).format('YYYY-MM-DD hh:mm:ss a')}
                        td #{moment(surgery.end_datetime).format('YYYY-MM-DD hh:mm:ss a')}
                        td #{surgery.description}
        br
        .row
            .col-md-6.col-sm-6
                button.btn.btn-primary(type='button', onclick="location.href='/surgery/new'") 예약 추가
