//doctype html

title Hello, world!
// Required meta tags
meta(charset='utf-8')
meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
// Fonts and icons
link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
// Material Dashboard CSS
link(rel='stylesheet' href='/assets/css/material-dashboard.css')
  
style.
    body{
      margin-top:75px;
    } 


//body
block top-nav
  include ../includes/topnavemp
block content;
  .container
    .row
      .col-lg-6.col-md-6.col-sm-6
        .card.card-stats
          .card-header.card-header-warning.card-header-icon
            .card-icon
              i.material-icons local_hospital
            p.card-category 1번 방
            h3.card-title
              |#{infos[0].room1_temperature+"'c"}
              br   
              |#{infos[0].room1_humidity+"%"} 
          .card-footer
            .stats
              a(href='/temperatureGraph') 온도 변화
      .col-lg-6.col-md-6.col-sm-6
        .card.card-stats
          .card-header.card-header-warning.card-header-icon
            .card-icon
              i.material-icons local_hospital
            p.card-category 2번 방
            h3.card-title
              |#{infos[0].room2_temperature+"'c"}
              br   
              |#{infos[0].room2_humidity+"%"} 
          .card-footer
            .stats
              a(href='/temperatureGraph') 온도 변화  
    .row
      .col-lg-6.col-md-6.col-sm-6
        .card.card-stats
          .card-header.card-header-warning.card-header-icon
            .card-icon
              i.material-icons local_hospital
            p.card-category 3번 방
            h3.card-title
              |#{infos[0].room3_temperature+"'c"}
              br   
              |#{infos[0].room3_humidity+"%"} 
          .card-footer
            .stats
              a(href='/temperatureGraph') 온도 변화 
      .col-lg-6.col-md-6.col-sm-6
        .card.card-stats
          .card-header.card-header-warning.card-header-icon
            .card-icon
              i.material-icons local_hospital
            p.card-category 4번 방
            h3.card-title
              |#{infos[0].room4_temperature+"'c"}
              br   
              |#{infos[0].room4_humidity+"%"} 
          .card-footer
            .stats
              a(href='/temperatureGraph') 온도 변화         
  .container
    .card.text-center
      .card-header.card-header-primary
        ul.nav.nav-tabs
          li.nav-item(role='presentation')
            a.nav-link(href="#diaper",data-toggle="tab") 기저귀
          li.nav-item(role='presentation')
            a.nav-link(href="#linger",data-toggle="tab") 링거
          li.nav-item(role='presentation')
            a.nav-link(href="#weight_sensor",data-toggle="tab") 낙상
      .card-body
        .tab-content
          #diaper.tab-pane.active
            table.table
              tbody
                -for(i=1;i<infos.length;i++)
                  tr
                    td            
                      | #{infos[i].hospital_room+'번 방  '}
                      | #{infos[i].name}   
                      -if (infos[i].is_wet==false)
                        h   교체 x
                      -else
                        h 교체 필요
                          i.material-icons.text-danger warning
                    td.td-actions.text-right
                      a.btn-prinary.btn-link.btn-sm(type='button' rel='tooltip' title='환자 정보 상세보기' href='/patientmanagement/show/'+infos[i].patient_id)
                        i.material-icons assignment
                
          #linger.tab-pane.fade
            table.table
              -for(i=1;i<infos.length;i++)
                tr
                  td            
                    | #{infos[i].hospital_room+'번 방  '}
                    | #{infos[i].name}   
                    -if (infos[i].is_empty==false)
                      h   교체 x
                    -else
                      h 교체 필요
                          i.material-icons.text-danger warning
                  td.td-actions.text-right
                    a.btn-prinary.btn-link.btn-sm(type='button' rel='tooltip' title='환자 정보 상세보기' href='/patientmanagement/show/'+infos[i].patient_id)
                      i.material-icons assignment
          #weight_sensor.tab-pane.fade
             table.table
              -for(i=1;i<infos.length;i++)
                tr
                  td            
                    | #{infos[i].hospital_room+'번 방  '}
                    | #{infos[i].name}   
                    -if (infos[i].weight_sensor==false)
                      h 
                    -else
                      h   낙상 확인 필요!
                        i.material-icons.text-danger warning
                  td.td-actions.text-right
                    a.btn-prinary.btn-link.btn-sm(type='button' rel='tooltip' title='환자 정보 상세보기' href='/patientmanagement/show/'+infos[i].patient_id)
                      i.material-icons assignment

                

 

  // Core JS Files
  script(src='/assets/js/core/jquery.min.js')
  script(src='/assets/js/core/popper.min.js')
  script(src='/assets/js/core/bootstrap-material-design.min.js')
  // Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/
  script(src='/assets/js/plugins/bootstrap-notify.js')
  // Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/
  script(src='/assets/js/plugins/chartist.min.js')
  // Plugin for Scrollbar documentation here: https://github.com/utatti/perfect-scrollbar
  script(src='/assets/js/plugins/perfect-scrollbar.jquery.min.js')
  // Demo init
  script(src='/assets/demo/demo.js')
  // Material Dashboard Core initialisations of plugins and Bootstrap Material Design Library
  script(src='/assets/js/material-dashboard.js?v=2.1.0')
  script(type='text/javascript' language='javascript' src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
